body {
    margin: 0;
}

.header {
    background-color: rgb(150, 150, 150);
    margin: 0;
    border: 1px solid rgb(224, 224, 224);
    padding-bottom: 2.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header > * {
    width: 33%;
    display: flex;
    justify-content: center;
}

.rolls {
    display: flex;
    justify-content: space-around;
    background-color: rgb(200, 200, 200);
}

.rolls > * {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 50%;
    margin: 2.5% auto;
    display: flex;
}

.dice {
    width: 14%;
    background-color: red;
    padding-bottom: 14%;
    margin: 3%;
    float: left;
    border-radius: 8%;
    text-align: center;
    position: relative;
}

.dice:hover {
    box-shadow: 0 0 0 .5em greenyellow;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid black;
}

.center {
    position: absolute;
    background-color: white;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    top: 40%;
    left: 40%;
}

.top-left {
    position: absolute;
    background-color: white;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    top: 10%;
    left: 10%;
}

.bot-right {
    position: absolute;
    background-color: white;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    bottom: 10%;
    right: 10%;
}

.bot-left {
    position: absolute;
    background-color: white;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    bottom: 10%;
    left: 10%;
}

.top-right {
    position: absolute;
    background-color: white;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    top: 10%;
    right: 10%;
}

.selected {
    box-shadow: 0 0 0 .5em greenyellow;
}

.scorecard {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.label {
    width: 200px;
}